body {
    background-image: url("assets/nathan-anderson-ohx4v80mJm8-unsplash.jpg");
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}